/* .dd1{
    width: 135px;
    height: 20px;
    border-radius: 5px;
    stop-color: blue;
}

.dd2{
    width: 135px;
    height: 20px;
    border-radius: 5px;
}

.dd3{
    width: 160px;
    height: 20px;
    border-radius: 5px;
} */

.street{
    width: 250px;
    height: 20px;
}
.city{
    width: 200px;
    height: 20px;
}
.postal{
    width: 100px;
    height: 20px;
    
}
/* .dd4{
    width: 125px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
}
.dd5{
    width: 250px;
    height: 20px;
    border-radius: 5px;
} */
/* input[text=text]{
    outline: 20px;
} */

button{
    margin-top: 2px;
    border-radius: 10px;
}


select {
    appearance: none;
    background-image: url(./images/icon.svg);
    background-repeat: no-repeat;
    background-position: right 0rem top 50%;
    background-size: 0.65rem 3vh;
    width: 120px;
    height: 20px;
    padding: 2px;
    border-radius: 5px;
}

