.email{
    width: 200px;
}
.street{
    width: 250px;
    height: 20px;
}
.city{
    width: 200px;
    height: 20px;
}
.postal{
    width: 100px;
    height: 20px;
    
}


button{
    margin-top: 2px;
    border-radius: 10px;
}


select {
    appearance: none;
    background-image: url(./images/icon.svg);
    background-repeat: no-repeat;
    background-position: right 0rem top 50%;
    background-size: 0.65rem 3vh;
    width: 150px;
    height: 20px;
    padding: 2px;
    border-radius: 5px;
}

